doctype html
html
	head
		title 主持人登录
		include share/link.pug
	body
		h1.title gulp-web-starter
		div.container
			img#gulp(src="./images/gulp.png", alt="gulp img")
			p#hello
include share/footer.pug
